{% extends 'base.html' %}
{% block title %}Ideas{% endblock %}

{% block content %}
      <div class="page-header">
        <h4>We are searching for an innovative(technical) solution for the security of city buildings.
            In the first step think of possible dangerous events, which might occur (e.g. fire).
            Then brainstorm innovative solutions, how people in the building could be protected from such danger or
            rescued from the building.</h4>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="well bs-component">
            <form class="form-horizontal" method="POST" action="{{ url_for('main.index') }}">
              <fieldset>
                <div class="form-group">
                  <label for="textArea" class="col-lg-2 control-label">What is your idea (Purpose):</label>
                    <div class="col-lg-10">
                      <textarea class="form-control" name="what" rows="2" id="textArea1" required></textarea>

                    </div>
                  </div>
                 <div class="form-group">
                  <label for="textArea" class="col-lg-2 control-label">How it works (Mechanism):</label>
                    <div class="col-lg-10">
                      <textarea class="form-control" name="how" rows="2" id="textArea" required></textarea>
                      <span class="help-block">Examples: Purpose:   Rescue indication facade,
                                                         Mechanism: Facade indicates in which floor <br>
                                                         &nbsp;&nbsp;&nbsp;&nbsp;Purpose:   Rescue Parachutes,
                                                         Mechanism: Parachutes in upper levels
                      </span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>

                </fieldset>
              </form>

              <div style="width: 100px; float:right; height:100px; background:yellow; margin:10px">
Second DIV
</div>
            </div>
          </div>
        </div>

{% endblock %}